body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: #2b4074;
}

.header__top {
  padding: 17px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.menu-btn {
  padding: 13px;
}

.header__content-bec {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 193px;
}

.header__content-item {
  text-align: center;
}

.header__content-wrraper {
  max-width: 800px;
  min-height: 668px;
  margin: 0 auto;
}

.header__content-title {
  font-size: 96px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 107px;
}

.header__content-text {
  font-size: 24px;
  line-height: 26px;
  padding-top: 19px;
  padding-bottom: 44px;
}

.header__content-link {
  background-color: #2b4074;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  padding: 16px 43px;
  color: #fff;
  border-radius: 5px;
}

.header__bot {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bot-wrraper {
  max-width: 470px;
}

.header__bot-tite {
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.header__bot-text {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 5px;
}

.header__bot-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 5px;
  color: #2b4074;
  padding: 16px 9px;
}

.header__content .owl-nav button {
  position: absolute;
}

.header__content .owl-prev {
  top: 39%;
  right: 0;
}

.header__content .owl-next {
  top: 50%;
  right: 0px;
}

.header__content .next {
  padding: 22px 25px 22px 28px;
  background-color: #fff;
}

.header__content .prev {
  background-color: #2b4074;
  margin-top: 5px;
  padding: 22px 28px 22px 25px;
  right: 0;
}

.header__content .owl-dots {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
}

.header__content .owl-dot {
  margin-right: auto;
  margin-left: auto;
}

.header__content .owl-dot span {
  background-color: #2b4074 !important;
}

.header__content .owl-dot.active span {
  background-color: rgba(255, 0, 0, 0) !important;
  border: 1px solid #476e4d;
  box-sizing: border-box;
}

.service {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.service_title {
  margin-top: 90px;
  font-size: 48px;
  color: #2b4074;
}

.service__description {
  font-family: "Roboto", sans-serif;
  margin-top: 65px;
  color: #4a4a4a;
  line-height: 26px;
  font-size: 24px;
}

.sevice_about {
  padding-left: 62px;

  max-width: 395px;
}

.service__line {
  margin-top: 30px;
  display: block;
  width: 98px;
  height: 8px;
  background-color: #2b4074;
}

.service__description-sub {
  margin-top: 35px;
  color: #797979;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.service__box {
  margin-top: 2px;
  margin-bottom: 2px;
  display: grid;
  grid-template-columns: 256px 256px 256px 256px;
  justify-content: center;
}

.service__box-wrraper {
  min-height: 280px;
  border: 1px solid #f9f6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service__box-item:hover {
  border-color: #2b4074;
}

.service__box-item:hover .service__box-title {
  margin-top: 15px;
}

.service__box-item:hover .service__box-img {
  margin-top: 20px;
}

.service__box-item:hover .service__box-description {
  margin-top: 30px;
  visibility: visible;
}

.service__box-item:hover .service__wrraper-link {
  margin-top: 18px;
  visibility: visible;
}

.service__box-item {
  width: 222px;
  height: 255px;
  transition: 0.2s;
  border: solid 3px;
  transition: 0.3s;
}

.service__box-img {
  margin-top: 78px;
  transition: 0.3s;
}

.service__box-title {
  text-transform: uppercase;
  margin-top: 27px;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

.service__box-description {
  color: #9b9b9b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  visibility: hidden;
  transition: 0.3s;
}

.service__wrraper-link {
  visibility: hidden;
}

.service__box-link {
  color: #2b4074;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

.project {
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.project__wrapper-img {
  position: relative;
  display: inline-block;
}

.project__content {
  padding-bottom: 80px;
}

.project__content-img {
  border-radius: 4px;
  width: 268px;
  height: 239px;
  display: block;
}

.overlay {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 243px;
  height: 217px;
  background-color: #f9f6e5;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
}

.project__wrapper-img:hover .overlay {
  opacity: 0.8;
}

.project-title {
  padding-top: 80px;
  font-size: 48px;
  text-align: center;
}

.progect-line {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  width: 100px;
  height: 8px;
  background-color: #fff;
}

.project__content {
  margin-top: 80px;
  display: flex;

  gap: 23px;
}

.project__content-description {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2b4074;
  text-align: center;
}

.team__about {
  display: flex;
  padding-bottom: 110px;
}

.team__about-img {
  width: 460px;
  height: 420px;
  border-radius: 4px;
}

.team__about-title {
  color: #4a4a4a;
  font-size: 48px;
}

.team__about-line {
  margin-top: 30px;
  width: 112px;
  height: 8px;
  background-color: #2b4074;
}

.team__about-description {
  max-width: 506px;
  margin-top: 40px;
  color: #9b9b9b;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 61px;
}

.team__about-link {
  color: #f9f6e5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 21px 41px 21px 35px;
  background-color: #2b4074;
  border-radius: 5px;
}

.team__about-content {
  margin-left: 100px;
}

.news {
  background-color: rgb(249, 246, 229);
  overflow: hidden;
}

.news__title {
  color: rgb(74, 74, 74);
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 18px;
}

.news__line {
  width: 100px;
  height: 8px;
  background-color: rgb(43, 64, 116);
  margin: 0 auto;
}

.news__wrraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__item {
  position: relative;
  overflow: hidden;
  width: 270px;
}

.news__item-img {
  width: 270px;
  transition: 0.3s;
}

.news__item :nth-child(-n + 5) {
  margin-top: 15px;
}

.news__item:hover .news__item-img {
  outline: 10px solid #2b4074;
  outline-offset: -10px;
}

.news__item-description {
  width: 100%;
  color: rgb(74, 74, 74);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 10px 0px 10px 21px;
  transition: 0.3s;
}

.news__item:hover .news__item-description {
  transform: translateY(-40px);
  color: #fff;
  background-color: #2b4074;
}

.quotes {
  margin-top: 100px;
}

.quotes__item-img {
  display: block;
  margin: 0 auto;
  width: 32px;
}

.quotes__item-title {
  margin-top: 60px;
  color: #4a4a4a;
  text-align: center;
  font-size: 36px;
}

.quotes__item {
  max-width: 765px;
  margin: 0 auto;
}

.qutes__item-name {
  margin-top: 30px;
  margin-bottom: 54px;
  color: #4a4a4a;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.quotes__wrraper .owl-dot {
  margin-right: auto;
  margin-left: auto;
}

.quotes__wrraper .owl-dot span {
  background-color: #2b4074 !important;
}

.quotes__wrraper .owl-dot.active span {
  background-color: #fff !important;
  border: 1px solid #476e4d;
  box-sizing: border-box;
}

.footer {
  position: relative;
  margin-top: 134px;
  background-color: #2b4074;
  align-items: center;
  justify-content: center;
}

.footer__logo-box {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 74px 0px 74px;
  background-color: #2b4074;
}

.footer__title {
  padding-top: 145px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

.footer__link-box {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  border: 1px solid #7ebf84;
}

.footer :first-child {
  border-left: none;
}

.footer :last-child {
  border-right: none;
}

.footer__about-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 22px;
  color: #f9f6e5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer__about-link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.footer__about-description {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.btn__top-box {
  background-color: #f9f6e5;
}

.btn__top-wrraper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

.btn-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #4a4a4a;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  background-color: #f9f6e5;
}

.btn-top-img {
  padding-left: 20px;
}

.header__content-line {
  display: none;
  margin-top: 30px;
  width: 62px;
  height: 8px;
  background-color: rgb(74, 74, 74);
}

.footer__about-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 95px;
}

.height-1200 {
  display: none;
}

.height-860 {
  display: none;
}

.news__wrraper {
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  .height-normal {
    display: none;
  }

  .height-1200 {
    display: block;
  }

  .news__wrraper {
    justify-content: space-between;
  }
}

@media (max-width: 860px) {
  .height-1200 {
    display: none;
  }

  .height-860 {
    display: block;
  }

  .news__wrraper {
    justify-content: space-around;
  }

  .collum-3 {
    display: none;
  }
}

@media (max-width: 1300px) {
  .service {
    display: block;
  }
}

@media (max-width: 1200px) {
  .project__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .header__content-title {
    font-size: 84px;
    line-height: 84px;
  }

  .header__content-text {
    font-size: 18px;
    line-height: 20px;
  }

  .header__bot-tite {
    font-size: 18px;
    line-height: 18px;
  }

  .header__bot-text {
    font-size: 14px;
    line-height: 16px;
  }

  .sevice_about {
    max-width: 610px;
    padding-left: 0px;
  }

  .service_title {
    text-align: center;
  }

  .service__box {
    padding: 27px;
    grid-template-columns: auto auto auto auto;
  }

  .service__line {
    margin-left: 40px;
  }

  .service__description {
    padding-left: 40px;
  }

  .service__description-sub {
    padding-left: 40px;
  }

  .team__about-img {
    width: 395px;
    height: 380px;
  }

  .team__about-content {
    margin-left: 60px;
  }

  .team__about-line {
    margin-top: 15px;
  }

  .team__about-description {
    margin-top: 18px;
  }

  .quotes__item-title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 768px) {
  .header__content-title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;
    padding-top: 87px;
  }

  .header__content-text {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 48px;
  }

  .header__bot-tite {
    font-size: 24px;
    line-height: 24px;
  }

  .header__bot-text {
    font-size: 16px;
    line-height: 18px;
    margin-top: 37px;
  }

  .header__content-wrraper {
    min-height: 465px;
  }

  .header__content .prev {
    margin-top: -18px;
  }

  .service__box {
    grid-template-columns: 390px 390px;
  }

  .service__box-item {
    width: 330px;
    max-height: 240px;
  }

  .team__about-img {
    width: 240px;
    height: 227px;
  }
}

@media (max-width: 700px) {
  .header__content-title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;
  }

  .header__content-text {
    display: none;
  }

  .header__content-lean {
    display: block;
    margin: 0 auto;
    margin-bottom: 46px;
    margin-top: 7px;
  }

  .header__bot-tite {
    font-size: 24x;
    line-height: 24px;
    text-align: center;
  }

  .header__bot-text {
    font-size: 16px;
    line-height: 18px;
    margin-top: 14px;
    padding-bottom: 45px;
    text-align: center;
  }

  .header__bot {
    display: block;
  }

  .header__bot-wrraper {
    max-width: 400px;
    margin: 0 auto;
  }

  .sevice_about {
    margin: 0 auto;
  }

  .service__line {
    margin: 0 auto;
    margin-top: 30px;
  }

  .header__box-link {
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .service__box {
    padding: 35px;
    grid-template-columns: 300px 300px;
  }

  .service__box-item {
    width: 285px;
    max-height: 282px;
  }

  .service__description {
    padding-left: 0;
    text-align: center;
  }

  .service__description-sub {
    text-align: center;
    padding-left: 0;
  }

  .team__about-content {
    margin-left: 32px;
  }

  .team__about-line {
    margin-top: 15px;
  }

  .team__about-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
  }
}

@media (max-width: 640px) {
  .service__box {
    display: block;
    margin: 0 auto;
    width: 280px;
  }

  .project__content-img {
    width: 518px;
    height: 460px;
  }

  .overlay {
    width: 495px;
    height: 440px;
  }

  .project__content-description {
    font-size: 20px;
    line-height: 23px;
  }

  .team__about-img {
    width: 520px;
    height: 478px;
  }

  .team__about {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .team__about-title {
    margin-top: 46px;
  }

  .team__about-line {
    margin: 0 auto;
    margin-top: 20px;
  }

  .team__about-description {
    margin-top: 40px;
  }

  .team__about-content {
    text-align: center;
  }

  .team__about-link {
    display: inline-block;
  }

  .project-title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
  }

  .quotes__item-title {
    font-size: 32px;
    line-height: 28px;
  }

  .footer__about-box {
    margin-top: 30px;
    justify-content: flex-start;
    grid-template-columns: minmax(auto, 300px) auto;
  }

  .footer__about-item {
    padding-top: 30px;
  }

  .footer__title {
    padding-top: 100px;
    font-size: 24px;
    line-height: 26px;
  }

  .footer__link-box {
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  .project__content-img {
    width: 268px;
    height: 239px;
  }

  .overlay {
    width: 243px;
    height: 217px;
  }

  .team__about-img {
    width: auto;
    height: auto;
  }
}

@media (max-width: 400px) {
  .header__content-title {
    font-weight: 400;
    padding-top: 38px;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0px;
  }

  .header__content-text {
    font-size: 18px;
    line-height: 20px;
  }

  .header__content-lean {
    margin-top: 20px;
  }

  .header__content-link {
    display: none;
  }

  .header__bot-tite {
    font-size: 24px;
    line-height: 24px;
  }

  .header__bot-text {
    font-size: 16x;
    line-height: 18px;
  }

  .header__content .owl-nav {
    display: none;
  }

  .header__content-wrraper {
    min-height: 195px;
  }

  .service__box {
    display: block;
    margin: 0 auto;
    width: 280px;
  }

  .service__box-item {
    width: 245px;
    max-height: 275px;
  }

  .project__content-description {
    font-size: 16px;
    line-height: 19px;
  }

  .team__about-img {
    width: 280px;
    height: 240px;
  }

  .project-title {
    font-size: 24px;
    line-height: 28px;
  }

  .team__about-title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
  }

  .team__about-line {
    width: 45px;
  }

  .progect-line {
    width: 45px;
  }

  .quotes__item-title {
    font-size: 24px;
    line-height: 28px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__about-box {
    padding-bottom: 60px;
    display: block;
  }

  .footer__about-item {
    text-align: center;
  }

  .btn__top-wrraper {
    justify-content: center;
  }

  .btn__top-wrraper {
    height: 140px;
  }

  .btn-top-img {
    margin-top: 20px;
    display: block;
  }

  .btn-top {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .footer__link-box {
    display: block;
  }

  .footer__link-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .footer__link {
    width: 26px;
    height: 26px;
    border: none;
  }

  .news__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
  }

  .news__line {
    width: 50px;
    height: 8px;
  }
}
